*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active-filter {
    background-color: aqua;
    color: black;
}

.is-done {
    opacity: 0.3;
}

ul {
    list-style: none;
    padding: 5px 0;
}